.title,
.ye,
.btn {
    text-align: center;
}

.title {
    font-size: 32px;
    color: rgb(75, 75, 219);
}

body {
    background-color: rgb(255, 184, 196);
}

.ye {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(9, 77, 9);
}

.btn {
    display: inline-block;
    color: rgb(97, 2, 50);
    background-color: lightblue;
    padding: 25px,75px;
}

.btn:hover {
    background: darkblue;
    color:white;
}